In [2]:
import pandas as pd 
import os
from pathlib import Path

In [12]:
data_dir = Path.cwd() / 'data'
referece_data_dir = data_dir / 'Reference'

COLUMN_NAMES = ['x1', 'x2', 'x3']

### REFERENCE DATA EXPLORATION

In [14]:
train_ref = pd.read_csv(referece_data_dir / 'training_data+.csv', names=COLUMN_NAMES)
print(train_ref.shape)
train_ref.head()

(990000, 3)

         x1        x2        x3
0  0.166421  0.685026 -0.125600
1 -0.901522  0.454056  0.295504
2 -1.382031 -0.461629  0.464923
3 -0.650100  0.943874 -0.013591
4  0.368477  1.861875 -1.222026

In [15]:
test_ref_total = pd.read_csv(referece_data_dir / 'testing_data+.csv', names=COLUMN_NAMES)
print(test_ref_total.shape)
test_ref_total.head()

(10000, 3)

         x1        x2        x3
0  0.549822 -0.033400 -0.457507
1  0.638814  0.707007  0.445297
2 -0.064772  0.980384  1.172142
3  0.927127  0.664055 -0.114796
4  1.146766  0.379990 -1.906892

In [16]:
test_ref_init = pd.read_csv(referece_data_dir / 'testing_data_initial+.csv', names=COLUMN_NAMES)
print(test_ref_init.shape)
test_ref_init.head()

(100, 3)

         x1        x2        x3
0  0.549822 -0.033400 -0.457507
1  0.638814  0.707007  0.445297
2 -0.064772  0.980384  1.172142
3  0.927127  0.664055 -0.114796
4  1.146766  0.379990 -1.906892

In [17]:
test_ref_rest = pd.read_csv(referece_data_dir / 'testing_data_rest+.csv', names=COLUMN_NAMES)
print(test_ref_rest.shape)
test_ref_rest.head()

(9900, 3)

         x1        x2        x3
0 -0.573528  0.098589 -0.417226
1 -0.117932 -0.978909 -0.366143
2  0.754715 -1.326659  0.098214
3 -0.492491 -0.681850 -0.778618
4 -1.161719  0.664516 -1.817836

In [35]:
combined_ref_test = pd.concat([test_ref_init, test_ref_rest]).reset_index().drop(columns=['index'],axis=1)

combined_ref_test.equals(test_ref_total)

True

### ORIGINAL DATA EXPLORATION

In [37]:
train = pd.read_csv(data_dir / 'training_data+.csv', names=COLUMN_NAMES)
train.equals(train_ref)

True

In [38]:
test = pd.read_csv(data_dir / 'testing_data_initial+.csv', names=COLUMN_NAMES)
test.equals(test_ref_init)

True

#### Conclusion

- In reference test_data_rest is the groundtruth that we need to compare with